@import "../common/root.scss";
.contact-page {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 105px;
  font-family: $pontano;
  font-weight: 300;
  width: calc(100% - 6rem);
  height: fit-content;

  .heading .title {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .content-form {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 220px;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 0.8rem;

    .heading {
      display: flex;
      align-items: start;
      flex-direction: column;
      border-bottom: 1px solid #3a3a3a;

      .head-title {
        font-size: 16px;
        background-color: rgba(#0025d7, 0.4);
        border: 2px solid $primary-color;
        padding: 5px 30px;
        font-weight: 400;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
      }

      .head-content {
        font-size: 16px;
        line-height: 26px;
        max-width: 90%;
        color: #c4c4c4;
        margin-bottom: 20px;
      }
    }

    .contact-form {
      width: 100%;
      height: fit-content;
      padding: 0.6rem 1.2rem;
      background-color: transparent;
      border: 1px solid #3a3a3a;
      border-radius: 20px;

      .fullname-phone {
        font-size: 16px;
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;

        .fullname {
          display: flex;
          flex-direction: column;
        }

        .phone {
          display: flex;
          flex-direction: column;

          .phone-input {
            position: relative;
            display: flex;
            align-items: center;
            margin: 10px 0;
            width: 100%;
            height: 48px;

            input {
              padding-right: 40px;
            }
          }

          .length-field {
            position: absolute;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: $primary-color;
            border-radius: 50%;

            span {
              font-size: 12px;
              color: white;
              font-family: $pontano;
              font-weight: 300;
              transition: 0.5s all;
            }
          }
        }

        input {
          width: 100%;
          height: 48px;
          padding: 0 15px;
          margin: 10px 0;
          border: 1px solid #3a3a3a;
          border-radius: 5px;
          font-family: $pontano;
          font-size: 16px;
          font-weight: 300;
          color: $text-color;
          background-color: transparent;
          transition: 0.5s all;

          &:focus {
            outline: none;
            border: 1px solid #c4c4c4;
          }
        }
      }

      .email {
        font-size: 16px;
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          height: 48px;
          padding: 0 15px;
          margin: 10px 0;
          border: 1px solid #3a3a3a;
          border-radius: 5px;
          font-family: $pontano;
          font-size: 16px;
          font-weight: 300;
          color: $text-color;
          background-color: transparent;
          transition: 0.5s all;

          &:focus {
            outline: none;
            border: 1px solid #c4c4c4;
          }
        }
      }

      .message {
        font-size: 16px;
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;

        textarea {
          resize: none;
          width: 100%;
          height: 120px;
          padding: 15px 15px;
          margin: 10px 0;
          border: 1px solid #3a3a3a;
          border-radius: 5px;
          font-family: $pontano;
          font-size: 16px;
          font-weight: 300;
          color: $text-color;
          background-color: transparent;
          transition: 0.5s all;

          &:focus {
            outline: none;
            border: 1px solid #c4c4c4;
          }
        }
      }

      .checkbox {
        margin-top: 20px;
        display: flex;
        align-items: center;

        input {
          width: 18px;
          height: 18px;
          margin-right: 10px;
          cursor: pointer;
        }

        label {
          font-size: 16px;
          color: $text-color;
          cursor: pointer;
        }
      }

      .submit-btn {
        width: 150px;
        height: 44px;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 20px;
        color: #fff;
        font-family: $pontano;
        font-weight: 300;
        text-transform: uppercase;
        border: none;
        outline: none;
        background-color: $primary-color;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
          background-color: $hover-color;
        }
      }
    }

    .contact-information {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 2fr;
      gap: 0.8rem;

      .banner {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid #3a3a3a;
        border-radius: 20px;
        background-image: url("../../assets/images/banner/contact-banner.gif");
        background-size: cover;
        background-position: 50% 100%;
      }

      .contact-in4 {
        width: 100%;
        height: 100%;
        padding: 0.8rem 0.8rem;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 0.6rem;
        background-color: transparent;
        border: 1px solid #3a3a3a;
        border-radius: 20px;

        .email {
          width: 100%;
          height: 100%;
          padding: 0 0.6rem;
          display: flex;
          align-items: center;
          background: #1d1d1d;
          border-radius: 10px;

          .mail-icon {
            width: 46px;
            height: 46px;
            font-size: 18px;
            margin-right: 0.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#0025d7, 0.4);
            border: 2px solid #385aff;
            border-radius: 50%;
          }

          .text {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;

            .label {
              font-family: $pontano;
              font-weight: 500;
            }

            .email-txt {
              color: #a0b0ff;
            }
          }
        }

        .phone {
          width: 100%;
          height: 100%;
          padding: 0 0.6rem;
          display: flex;
          align-items: center;
          background: #1d1d1d;
          border-radius: 10px;

          .phone-icon {
            width: 46px;
            height: 46px;
            font-size: 26px;
            margin-right: 0.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#0025d7, 0.4);
            border: 2px solid #385aff;
            border-radius: 50%;
          }

          .text {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;

            .label {
              font-family: $pontano;
              font-weight: 500;
            }

            .phone-txt {
              color: #a0b0ff;
            }
          }
        }

        .address {
          width: 100%;
          height: 100%;
          padding: 0 0.6rem;
          display: flex;
          align-items: center;
          background: #1d1d1d;
          border-radius: 10px;

          .address-icon {
            width: 46px;
            height: 46px;
            font-size: 26px;
            margin-right: 0.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#0025d7, 0.4);
            border: 2px solid #385aff;
            border-radius: 50%;
          }

          .text {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;

            .label {
              font-family: $pontano;
              font-weight: 500;
            }

            .address-txt {
              color: #a0b0ff;
            }
          }
        }

        .social {
          width: 100%;
          height: 100%;
          padding: 0 0.6rem;
          display: flex;
          align-items: center;
          background: #1d1d1d;
          border-radius: 10px;

          .social-icon {
            width: 46px;
            height: 46px;
            font-size: 26px;
            margin-right: 0.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#0025d7, 0.4);
            border: 2px solid #385aff;
            border-radius: 50%;
          }

          .text {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 16px;

            .label {
              font-family: $pontano;
              font-weight: 500;
            }

            .social-item {
              ul {
                display: flex;

                li {
                  list-style: none;
                  margin-right: 20px;

                  a {
                    color: #a0b0ff;
                    transition: 0.5s;
                    text-decoration-thickness: 0.8px;
                    text-underline-offset: 1px;

                    &:hover {
                      text-decoration: none;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .contact-page {
    width: calc(100% - 4rem);
  }
}

@media screen and (max-width: 1024px) {
  .contact-page {
    .content-form {
      grid-template-columns: 2.5fr 1.5fr;

      .contact-information {
        grid-template-rows: 1fr 1.8fr;

        .contact-in4 {
          .email,
          .phone,
          .address,
          .social {
            .icon {
              width: 40px;
              height: 40px;
            }

            .text {
              height: fit-content;
              font-size: 14px;

              .label {
                margin-bottom: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .contact-page {
    .content-form {
      grid-template-columns: 2.5fr 2fr;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact-page {
    .content-form {
      height: fit-content;
      grid-template-columns: 1fr;

      .contact-information {
        height: 100%;
        grid-template-rows: 1fr 2fr;
        gap: 0.8rem;

        .banner {
          width: 100%;
          height: 100%;
        }

        .contact-in4 {
          .email,
          .phone,
          .address,
          .social {
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;

            .icon {
              width: 60px;
              height: 60px;
              margin-right: 1rem;
              font-size: 30px;
            }

            .mail-icon {
              font-size: 22px;
            }

            .text {
              height: 100%;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .contact-page {
    width: calc(100% - 3rem);

    .heading .title {
      font-size: 36px;
      margin-bottom: 40px;
    }

    .content-form {
      .contact-information {
        .contact-in4 {
          .email,
          .phone,
          .address,
          .social {
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;

            .icon {
              width: 50px;
              height: 50px;
              margin-right: 0.8rem;
              font-size: 26px;
            }

            .mail-icon {
              font-size: 18px;
            }

            .text {
              height: 100%;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .contact-page {
    width: calc(100% - 2rem);

    .heading .title {
      font-size: 36px;
      margin-bottom: 40px;
    }

    .content-form {
      .heading {
        .head-content {
          font-size: 14px;
          line-height: 24px;
        }
      }
      .contact-form {
        .fullname-phone,
        .email,
        .message {
          font-size: 14px;
        }

        .checkbox {
          label {
            font-size: 14px;
          }
        }
      }

      .contact-information {
        .contact-in4 {
          .email,
          .phone,
          .address,
          .social {
            padding: 0.8rem 1rem;
            display: flex;
            align-items: center;

            .icon {
              width: 40px;
              height: 40px;
              margin-right: 0.8rem;
              font-size: 22px;
            }

            .mail-icon {
              font-size: 16px;
            }

            .text {
              height: 100%;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
