@import "../common/root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #101010;
}

.homepage {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 105px;
  display: flex;
  justify-content: center;
  width: calc(100% - 200px);
  height: 200vh;
}
