@import "../common/root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #101010;
}

.homepage {
  position: relative;
  top: 105px;
  width: 100%;
  height: 200vh;
}
