@import "../common/root.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #101010;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

.homepage {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 200px);
  height: fit-content;

  .header-wrapper {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .section-02 {
    width: 100%;
    height: 90vh;
    margin-top: 30px;
  }

  .section-03 {
    margin-top: 100px;
    margin-left: 100px;
    width: 1340px;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow-x: auto;

    // Hide scrollbar for Webkit browsers
    &::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar for Firefox
    scrollbar-width: none;
  }

  .section-04 {
    margin-top: 100px;
    width: 100%;
    height: 80vh;
  }
}
