@import "../common/root.scss";

.store-page {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 105px;
  font-family: $pontano;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;

  .toolbar {
    .header-wrapper {
      margin: 40px 0;
    }
  }

  .header-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .product-list {
    width: calc(100% - 6rem);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.8rem;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1240px) {
  .store-page {
    .product-list {
      width: calc(100% - 4rem);
    }
  }
}

@media screen and (max-width: 1024px) {
  .store-page {
    .product-list {
      grid-template-columns: repeat(4, 1fr);
      gap: 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .store-page {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.8rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .store-page {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .store-page {
    .product-list {
      width: calc(100% - 3rem);
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 375px) {
  .store-page {
    .product-list {
      width: calc(100% - 2rem);
    }
  }
}
