@import "../common/root.scss";

.wishlist-page {
  position: relative;
  top: 125px;
  margin-bottom: 250px;
  font-family: "Pontano Sans", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;

  .wishlist-header {
    width: calc(100% - 6rem);
    padding-top: 20px;
    display: flex;
    align-items: start;

    @media screen and (max-width: 1240px) {
      width: calc(100% - 4rem);
    }

    @media screen and (max-width: 480px) {
      width: calc(100% - 3rem);
    }

    @media screen and (max-width: 375px) {
      width: calc(100% - 2rem);
    }

    h1 {
      position: relative;
      font-size: 40px;
      font-family: "Pontano Sans", sans-serif;
      font-weight: 600;
      z-index: 1;
      margin-bottom: 30px;
    }
  }

  .wishlist-content {
    width: calc(100% - 6rem);

    @media screen and (max-width: 1240px) {
      width: calc(100% - 4rem);
    }

    @media screen and (max-width: 480px) {
      width: calc(100% - 3rem);
    }

    @media screen and (max-width: 375px) {
      width: calc(100% - 2rem);
    }

    .filter {
      width: 100%;
    }

    .receive-email {
      width: 100%;
      height: fit-content;
      padding: 20px 20px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $bg-color;
      border-radius: 10px;

      .content {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 80%;
        line-height: 24px;
      }

      .email-icon {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(245, 245, 245);
        border-radius: 10px 0 0 10px;

        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      .text {
        width: fit-content;
        font-size: 16px;
        margin-right: 10px;
        color: #f5f5f599;
      }

      // #description {
      //   position: absolute;
      //   left: 98%;
      //   top: -80px;
      //   width: 100%;
      //   transform: translateX(-50%);
      //   max-width: 400px;
      //   height: fit-content;
      //   padding: 20px;
      //   background-color: #2a2a2a;
      //   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      //   font-size: 14px;
      //   font-family: $pontano;
      //   font-weight: 300;
      //   color: #fff;
      //   border-radius: 10px;
      //   transition: 0.5s;
      //   z-index: 1000;

      //   @media screen and (max-width: 1024px) {
      //     position: absolute;
      //     left: 98%;
      //     top: -80px;
      //     width: 100%;
      //   }
      // }

      // .question-icon {
      //   color: rgb(245, 245, 245);
      //   width: 20px;
      //   height: 20px;
      //   cursor: help;
      //   transition: 0.5s;

      //   &:hover {
      //     color: #f5f5f599;
      //   }
      // }
    }
    .filter {
      margin-bottom: 30px;
    }
  }
}
