@import "../../styles/common/root.scss";

.prd-price {
  font-size: 16px;
  font-family: $pontano;
  font-weight: 300;
  display: flex;
  align-items: center;

  .discount {
    width: 44px;
    height: 22px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    background-color: $primary-color;
    color: $text-color;
    margin-right: 10px;
    border-radius: 3px;
  }

  .original-price {
    text-decoration: line-through;
    font-family: $pontano;
    font-weight: 300;
    color: #8a8a8a;
    margin-right: 10px;
  }
}
