@import "../../styles/common/root.scss";

.toolbar {
  width: 100%;
  height: fit-content;

  .header-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
}
