@import "../../styles/common/root.scss";

@keyframes hori {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

.horizontal-cards {
  height: 700px;
  width: fit-content;
  display: flex;
  opacity: 0;

  &.appear {
    opacity: 1;
    transform: translateX(0);
    animation: hori 4s linear forwards;

    // image appear

    @keyframes image-appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .card:nth-child(1) img {
      animation: image-appear 1s 3.4s linear forwards;
    }

    .card:nth-child(2) img {
      animation: image-appear 1s 3.2s linear forwards;
    }

    .card:nth-child(3) img {
      animation: image-appear 1s 3s linear forwards;
    }

    .card:nth-child(4) img {
      animation: image-appear 1s 2.5s linear forwards;
    }

    .card:nth-child(5) img {
      animation: image-appear 1s 2s linear forwards;
    }

    .card:nth-child(6) img {
      animation: image-appear 1s 1.8s linear forwards;
    }

    .card:nth-child(7) img {
      animation: image-appear 1s 1.6s linear forwards;
    }

    .card:nth-child(8) img {
      animation: image-appear 1s 1.4s linear forwards;
    }

    .card:nth-child(9) img {
      animation: image-appear 1s 1.2s linear forwards;
    }

    .card:nth-child(10) img {
      animation: image-appear 1s 1s linear forwards;
    }

    // card appear

    .card:nth-child(1) {
      width: 0;
      animation: nth-child-2 1s 2.2s linear forwards;
    }

    .card:nth-child(2) {
      width: 0;
      animation: nth-child-2 1s 2.1s linear forwards;
    }

    .card:nth-child(3) {
      width: 0;
      animation: nth-child-2 1s 2s linear forwards;
    }

    .card:nth-child(4) {
      width: 0;
      animation: nth-child-2 1s 1.5s linear forwards;
    }

    .card:nth-child(5) {
      width: 0;
      animation: nth-child-2 1s 1s linear forwards;
    }

    .card:nth-child(6) {
      width: 0;
      animation: nth-child-2 1s 0.8s linear forwards;
    }

    .card:nth-child(7) {
      width: 0;
      animation: nth-child-2 1s 0.6s linear forwards;
    }

    .card:nth-child(8) {
      width: 0;
      animation: nth-child-2 1s 0.4s linear forwards;
    }

    .card:nth-child(9) {
      width: 0;
      animation: nth-child-2 1s 0.2s linear forwards;
    }

    .card:nth-child(10) {
      width: 0;
      animation: nth-child-2 1s 0s linear forwards;
    }

    @keyframes nth-child-2 {
      0% {
        opacity: 0;
        width: 0;
        height: 330px;
        pointer-events: none; /* Disable hover at the start */
      }
      50% {
        opacity: 0.5;
        width: 100px;
        height: 330px;
        pointer-events: none;
      }
      100% {
        opacity: 1;
        width: 220px;
        height: 330px;
        pointer-events: auto; /* Re-enable hover at the end */
      }
    }
  }

  .content {
    position: relative;
    width: 700px;
    font-family: $pontano;

    .title {
      font-size: 80px;
      font-weight: 600;
    }

    .description {
      font-size: 16px;
      color: #8a8a8a;
      max-width: 74%;
      line-height: 25px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }

  .line-wrapper {
    width: 300vh;

    .line {
      width: fit-content;
      height: 330px;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 30px;

      .card {
        position: relative;
        width: 220px;
        height: 330px;
        opacity: 0;
        background: #2a2a2a;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;

        .wishlist {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 30px;
          height: 30px;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          background-color: rgba(#000000, 0.6);
          border-radius: 50%;
          outline: none;
          border: 1px solid #4a4a4a;
          color: #fff;
          cursor: pointer;
          transition: transform 1s ease;

          .icon {
            &.tabler--plus {
              animation: rotate-plus 1s forwards;
            }
            &.tabler--check {
              animation: fade-in 1s forwards;
            }
          }
        }

        &:hover .wishlist {
          opacity: 1;
        }

        img {
          width: 100%;
          opacity: 0;
          border-radius: inherit;
        }

        .card-info {
          position: absolute;
          top: 50%;
          padding: 18px 15px;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 140px;
          font-family: $pontano;
          font-weight: 300;
          opacity: 0;
          background-color: $bg-color;

          .title {
            font-size: 14px;
            font-weight: 500;
            opacity: 0;
            margin-bottom: 15px;
          }

          .rating {
            display: flex;
            align-items: center;
            opacity: 0;
            font-size: 14px;

            .total-rating {
              margin-left: 5px;
              margin-bottom: 3px;
            }
          }

          .price {
            position: absolute;
            bottom: 0;
            width: calc(100% - 30px);
            height: 38%;
            font-size: 14px;
            opacity: 0;
            border-top: 1px solid #404040;
            display: flex;
            align-items: center;

            .discount {
              width: 40px;
              height: 20px;
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $primary-color;
              color: $text-color;
              margin-right: 10px;
              border-radius: 3px;
            }
            .original-price {
              text-decoration: line-through;
              margin-right: 10px;
            }
          }
        }
      }

      .card:hover .card-info {
        animation: card-info-fill 0.3s linear forwards; /* Adjust duration as needed */
      }

      @keyframes card-info-fill {
        0% {
          opacity: 0.4;
          transform: scale(0.3);
          border-radius: 100%;
        }
        50% {
          opacity: 0.6;
          transform: scale(1);
        }
        100% {
          opacity: 1;
          animation-delay: 0.5s;
          transform: scale(1);
          border-radius: 0%;
        }
      }

      .card:hover .card-info .title,
      .card:hover .card-info .rating,
      .card:hover .card-info .price {
        animation: card-content 0.3s 0.3s ease-in forwards;
      }

      @keyframes card-content {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .first-line {
      margin-left: -3%;
    }

    .second-line {
      margin-left: -17%;
      margin-top: 30px;
    }
  }
}
