@import "../../styles/common/root.scss";

.infinite-slider {
  width: 100%;
  font-family: $pontano;

  .heading-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      position: relative;
      font-size: 40px;
      font-weight: 600;
    }
  }

  .slide-items::before,
  .slide-items::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 385px;
    background: linear-gradient(
      to right,
      rgba(#101010, 1) 0%,
      rgba(#101010, 0) 100%
    );
  }

  .slide-items::before {
    left: 0;
    top: 0;
  }

  .slide-items::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .slide-items {
    position: relative;
    width: calc(100% + 200px);
    left: -100px;
    margin-top: 50px;

    .line {
      .icard:hover {
        z-index: 2;
      }
    }

    .first-line {
      position: relative;
      display: flex;
      width: fit-content;
      z-index: 1;
      animation: first-slide 60s infinite linear;
    }

    .first-line:hover {
      z-index: 2;
    }

    @keyframes first-slide {
      0%,
      100% {
        transform: translateX(-100px);
      }
      50% {
        transform: translateX(calc(-370px * 6.2));
      }
    }

    .second-line {
      position: relative;
      display: flex;
      width: fit-content;
      z-index: 1;
      animation: second-slide 60s infinite linear;
    }

    .second-line:hover {
      z-index: 2;
    }

    @keyframes second-slide {
      0%,
      100% {
        transform: translateX(calc(-370px * 6.2));
      }
      50% {
        transform: translateX(-100px);
      }
    }
  }
}
